.color-dot {
    display: inline-block;
    width: 40px;
    height: 18px;
    border: 1px solid #888;
    vertical-align: middle;
    margin-right: 0.45em;
}

.switch-label {
    margin-left: 20px;
}
